@tailwind base;
@tailwind components;
@tailwind utilities;

.twitter {
  transition: 0.5s ease;
}

.twitter:hover {
  color: #55acef;
}

.facebook {
  transition: 0.5s ease;
}

.facebook:hover {
  color: #1873eb;
}

.instagram {
  transition: 0.5s ease;
}

.instagram:hover {
  background: linear-gradient(
    45deg,
    #405de6,
    #5851db,
    #833ab4,
    #c13584,
    #e1306c,
    #fd1d1d,
    #f56040,
    #f77737,
    #fcaf45
  );
  -webkit-background-clip: text;
  color: transparent;
}

.linkedin {
  transition: 0.5s ease;
}

.linkedin:hover {
  color: #0270ad;
}

.whatsapp {
  transition: 0.5s ease;
}

.whatsapp:hover {
  color: #11ba17;
}

.reddit {
  transition: 0.5s ease;
}

.reddit:hover {
  color: #ff4500;
}

.telegram {
  transition: 0.5s ease;
}

.telegram:hover {
  color: #31a8e0;
}
