@tailwind base;
@tailwind components;
@tailwind utilities;

.twitter {
  transition: 0.5s ease;
}

.twitter:hover {
  color: #55acef;
}

.facebook {
  transition: 0.5s ease;
}

.facebook:hover {
  color: #1873eb;
}

.instagram {
  transition: 0.5s ease;
}

.instagram:hover {
  background: linear-gradient(
    45deg,
    #405de6,
    #5851db,
    #833ab4,
    #c13584,
    #e1306c,
    #fd1d1d,
    #f56040,
    #f77737,
    #fcaf45
  );
  -webkit-background-clip: text;
  color: transparent;
}

.linkedin {
  transition: 0.5s ease;
}

.linkedin:hover {
  color: #0270ad;
}

.whatsapp {
  transition: 0.5s ease;
}

.whatsapp:hover {
  color: #11ba17;
}

.reddit {
  transition: 0.5s ease;
}

.reddit:hover {
  color: #ff4500;
}

.telegram {
  transition: 0.5s ease;
}

.telegram:hover {
  color: #31a8e0;
}

.btnLogin {
  background: #ebebeb;
  width: 100%;
  margin-top: 1rem;
  height: 4rem;
}

hr {
  height: 11vh;
  width: 0.2vw;
  border-width: 0;
  color: #f5f5f5;
  background-color: #f5f5f5;
  margin-left: 0.5rem;
}

.socialButton {
  border: 1px solid;
  width: 25rem;
  height: 4rem;
  font-weight: 600;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}

.socialButton:hover {
  background-color: #ebebeb;
}

.inputLog {
  padding: 0.5rem;
  width: 23rem;
  color: #000;
}

.inputLabel {
  width: 25rem;
  margin-bottom: 1rem;
  font-size: medium;
  color: #ABABAB;
  font-weight: 500;
}

.orDiv {
  width: 20rem;
  display: grid;
  justify-content: center;
}

.imgLogo {
  margin-right: 5.5rem;
  width: 1.5rem;
  margin-left: 1.5rem;
}

.bgImg {
  background-image: url('../../public/images/hero-bg.jpg');
}